<div class="message-content">
  <%= render 'common/user_lists' %>
  <div class="main">
    <div class="talkroom">
      <div class="name">
        <%= @user.name %>さんのトークルーム
      </div>
    </div>
  </div>
</div>