// 関数の読み込み
@import "common/post";

@mixin user-post-list {
  display: none;
  .empty-post {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      color: #a9a9a9;
      font-size: 24px;
    }
  }
  @include post
}
