@mixin whole {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: white;
}

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}