// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "variable";
@import "function";

.message-content {
  height: 100vh;
  width: 100%;
  padding-top: 75px;
  display: flex;
  .user-lists {
    width: 25%;
    border-right: solid 1px #c0c0c0;
    overflow: scroll;
    .empty-room {
      @include md {
        width: 100%;
        height: 100vh;
      }
      .text {
        display: none;
        @include md {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 32px;
          color: gray;
        }
        @include xs {
          font-size: 28px;
        }
      }
    }
    // レスポンシブデザイン
    @include md {
      width: 100%;
    }
    @include user-list
  }
  .main {
    width: 80%;
    // レスポンシブデザイン
    @include md {
      width: 100%;
    }
    .main-header {
      width: 100%;
      height: 40px;
      box-shadow: 0 0 3px gray;
      z-index: 1;
      display: flex;
      align-items: center;
      position: fixed;
      background-color: #ffffff;
      .back-icon {
        // レスポンシブデザイン
        @include md {
          margin-left: 8px;
        }
        .fa-chevron-left {
          display: none;
          :active {
            text-decoration: none;
          }
          // レスポンシブデザイン
          @include md {
            display: block;
          }
        }
      }
      .message-partner {
        font-weight: bold;
        padding-left: 80px;
        // レスポンシブデザイン
        @include md {
          padding-left: 16px;
        }
      }
    }
    .communication {
      height: calc(100vh - 225px);
      overflow: scroll;
      margin-top: 70px;
      margin-right: 160px;
      padding-left: 20px;
      width: 100%;
      // レスポンシブデザイン
      @include md {
        margin-top: 60px;
      }
      @include sm {
        height: calc(100vh - 215px);
      }
      .messages-wrapper {
        width: 80%;
        .messages {
          display: flex;
          width: 100%;
          padding-bottom: 32px;
          .left {
            width: 10%;
            @include md {
              text-align: center;
            }
            .user-image {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              // レスポンシブデザイン
              @include lg {
                width: 50px;
                height: 50px;
              }
              @include md {
                width: 40px;
                height: 40px;
              }
              @include xs {
                width: 30px;
                height: 30px;
              }
            }
          }
          .right {
            width: 90%;
            // レスポンシブデザイン
            @include md {
              margin-left: 8px;
            }
            @include xs {
              margin-left: 12px;
            }
            .info {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              .user-name {
                font-weight: bold;
                font-size: 20px;
                // レスポンシブデザイン
                @include lg {
                  font-size: 16px;
                }
              }
              .message-time {
                margin-left: 16px;
                color: #c0c0c0;
                font-size: 12px;
              }
            }
            .message {
              margin-bottom: 8px;
              font-size: 20px;
              // レスポンシブデザイン
              @include lg {
                font-size: 16px;
              }
              @include xs {
                font-size: 14px;
              }
            }
            .attached-image {
              .image {
                // レスポンシブデザイン
                @include md {
                  width: 400px;
                  height: 400px;
                }
                @include sm {
                  width: 350px;
                  height: 350px;
                }
                @include xs {
                  width: 90%;
                  height: 90%;
                }
              }
            }
          }
        }
      }
    }

    .send {
      width: 100%;
      height: 85px;
      box-shadow: 0 0 3px gray;
      z-index: 1;
      display: flex;
      align-items: center;
      .message-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
        width: 100%;
        // レスポンシブデザイン
        @include md {
          padding: 0 10px;
        }
        .message-field {
          width: 80%;
          @include sm {
            width: 75%;
          }
          @include xs {
            width: 65%;
          }
          &__content {
            width: 100%;
            padding-top: 8px;
            padding-left: 8px;
          }
        }
        .message-image {
          .far {
            font-size: 40px;
            cursor: pointer;
            @include xs {
              font-size: 30px;
            }
            .file-input {
              display: none;
            }
          }
        }
        .message-submit {
          .btn {
            @include xs {
              font-size: x-small;
            }
          }
        }
      }
    }
  }
  .second {
    width: 80%;
    // レスポンシブデザイン
    @include md {
      display: none;
    }
    .top-message {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .name {
        font-weight: bold;
        font-size: 32px;
        color: gray;
      }
    }
  }
  .user-lists-second {
    width: 25%;
    border-right: solid 1px #c0c0c0;
    overflow: scroll;
    // レスポンシブデザイン
    @include md {
      display: none;
    }
    @include user-list
  }
}