// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "function";
@import "variable";

.message-content {
  height: 100vh;
  width: 100%;
  padding-top: 75px;
  display: flex;
  .user-lists {
    width: 25%;
    border-right: solid 1px #c0c0c0;
    overflow: scroll;
    .user-list {
      .user {
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        .left {
          width: 20%;
          display: flex;
          align-items: center;
          margin-right: 16px;
          .user-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .right {
          width: 80%;
          .info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            .user-name {
              font-weight: bold;
            }
            .last-time {
              color: #c0c0c0;
              font-size: 12px;
            }
          }
          .bottom {
            width: 100%;
            .last-message {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
  .main {
    width: 80%;
    .main-header {
      width: 100%;
      height: 40px;
      box-shadow: 0 0 3px gray;
      z-index: 1;
      display: flex;
      align-items: center;
      position: fixed;
      background-color: #ffffff;
      .message-partner {
        font-weight: bold;
        padding-left: 80px;
      }
    }
    .communication {
      height: calc(100vh - 200px);
      overflow: scroll;
      margin: 45px 160px 0 80px;
      width: 100%;
      .messages {
        display: flex;
        width: 100%;
        padding-bottom: 32px;
        .left {
          width: 10%;
          .user-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .right {
          width: 90%;
          .info {
            display: flex;
            margin-bottom: 8px;
            .user-name {
              font-weight: bold;
            }
            .message-time {
              margin-left: 16px;
              color: #c0c0c0;
              font-size: 14px;
            }
          }
          .message {
            margin-bottom: 8px;
          }
          .attached-image {
            .image {
              height: 400px;
              width: 400px;
            }
          }
        }
      }
    }
    .send {
      width: 100%;
      height: 85px;
      box-shadow: 0 0 3px gray;
      z-index: 1;
      display: flex;
      align-items: center;
      .message-form {
        display: flex;
        align-items: center;
        padding: 0 80px;
        width: 100%;
        .message-field {
          width: 60%;
          &__content {
            width: 100%;
            padding-left: 8px;
          }
        }
        .message-image {
          display: flex;
          &__content {
            width: 80%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}