// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "variable";
@import "function";

.message-content {
  height: 100vh;
  width: 100%;
  padding-top: 75px;
  display: flex;
  .user-lists {
    width: 25%;
    border-right: solid 1px #c0c0c0;
    overflow: scroll;
    .empty-room {
      .text {
        display: none;
      }
    }
    @include user-list
  }
  .main {
    width: 80%;
    .main-header {
      width: 100%;
      height: 40px;
      box-shadow: 0 0 3px gray;
      z-index: 1;
      display: flex;
      align-items: center;
      position: fixed;
      background-color: #ffffff;
      .back-icon {
        .fa-chevron-left {
          display: none;
          :active {
            text-decoration: none;
          }
        }
      }
      .message-partner {
        font-weight: bold;
        padding-left: 80px;
      }
    }
    .communication {
      height: calc(100vh - 225px);
      overflow: scroll;
      margin-top: 70px;
      margin-right: 160px;
      padding-left: 20px;
      width: 100%;
      .messages-wrapper {
        width: 80%;
        .messages {
          display: flex;
          width: 100%;
          padding-bottom: 32px;
          .left {
            width: 10%;
            .user-image {
              width: 60px;
              height: 60px;
              border-radius: 50%;
            }
          }
          .right {
            width: 90%;
            .info {
              display: flex;
              align-items: center;
              margin-bottom: 8px;
              .user-name {
                font-weight: bold;
                font-size: 20px;
              }
              .message-time {
                margin-left: 16px;
                color: #c0c0c0;
                font-size: 12px;
              }
            }
            .message {
              margin-bottom: 8px;
              font-size: 20px;
            }
          }
        }
      }
    }
    .send {
      width: 100%;
      height: 85px;
      box-shadow: 0 0 3px gray;
      z-index: 1;
      display: flex;
      align-items: center;
      .message-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
        width: 100%;
        .message-field {
          width: 80%;
          &__content {
            width: 100%;
            padding-top: 8px;
            padding-left: 8px;
          }
        }
        .message-image {
          .far {
            font-size: 40px;
            cursor: pointer;
            .file-input {
              display: none;
            }
          }
        }
      }
    }
  }
  .second {
    width: 80%;
    .top-message {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .name {
        font-weight: bold;
        font-size: 32px;
        color: gray;
      }
    }
  }
  .user-lists-second {
    width: 25%;
    border-right: solid 1px #c0c0c0;
    overflow: scroll;
    @include user-list
  }
}

// レスポンシブ(PC)
@include lg {
  .message-content {
    .main {
      .communication {
        .messages-wrapper {
          .messages {
            .left {
              .user-image {
                width: 50px;
                height: 50px;
              }
            }
            .right {
              .info {
                .user-name {
                  font-size: 16px;
                }
              }
              .message {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

// レスポンシブ(タブレット)
@include md {
  .message-content {
    .user-lists {
      width: 100%;
      .empty-room {
        width: 100%;
        height: 100vh;
        .text {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 32px;
          color: gray;
        }
      }
    }
    .main {
      width: 100%;
      .main-header {
        .back-icon {
          margin-left: 8px;
          .fa-chevron-left {
            display: block;
          }
        }
        .message-partner {
          padding-left: 16px;
        }
      }
      .communication {
        margin-top: 60px;
        .messages-wrapper {
          .messages {
            .left {
              text-align: center;
              .user-image {
                width: 40px;
                height: 40px;
              }
            }
            .right {
              margin-left: 8px;
              .attached-image {
                .image {
                  width: 400px;
                  height: 400px;
                }
              }
            }
          }
        }
      }
      .send {
        .message-form {
          padding: 0 10px;
        }
      }
    }
    .second {
      display: none;
    }
    .user-lists-second {
      display: none;
    }
  }
}

// レスポンシブ(スマホ)
@include sm {
  .message-content {
    .main {
      .communication {
        height: calc(100vh - 215px);
        .messages-wrapper {
          .messages {
            .right {
              .attached-image {
                .image {
                  width: 350px;
                  height: 350px;
                }
              }
            }
          }
        }
      }
      .send {
        .message-form {
          .message-field {
            width: 75%;
          }
        }
      }
    }
  }
}

// レスポンシブ(スマホ)
@include xs {
  .message-content {
    .user-lists {
      .empty-room {
        .text {
          font-size: 28px;
        }
      }
    }
    .main {
      .communication {
        .messages-wrapper {
          .messages {
            .left {
              .user-image {
                width: 30px;
                height: 30px;
              }
            }
            .right {
              margin-left: 12px;
              .message {
                font-size: 14px;
              }
              .attached-image {
                .image {
                  width: 90%;
                  height: 90%;
                }
              }
            }
          }
        }
      }
      .send {
        .message-form {
          .message-field {
            width: 65%;
          }
          .message-image {
            .far {
              font-size: 30px;
            }
          }
          .message-submit {
            .btn {
              font-size: x-small;
            }
          }
        }
      }
    }
  }
}