// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "common/breakpoint";
@import "common/favorite";

.container {
  .post-show {
    .favorite {
      .post-favorite {
        .fas {
          @include favorite
        }
        .far {
          @include favorite
        }
      }
    }
    .post-top {
      margin: 40px 60px 24px;
      .title {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
      }
    }
    .top-image {
      display: flex;
      justify-content: center;
    }
    .tags-field {
      margin: 40px 120px 0;
      display: flex;
      .tags {
        margin-right: 8px;
        padding: 4px;
        background-color: #f5f5f5;
        border-radius: 3px;
        .tag {
          text-decoration: none;
          color: #ffc107;
        }
      }
    }
    .post-detail {
      margin: 40px 120px;
      padding: 32px;
      border: solid 1px gray;
      box-shadow: 0 0 3px gray;
      border-radius: 5px;
      .user {
        width: 100%;
        margin: auto;
        .top {
          text-align: center;
          margin-bottom: 16px;
          .title {
            font-size: 24px;
            font-weight: bold;
          }
        }
        .bottom {
          width: 100%;
          display: flex;
          padding: 0 144px;
          margin-bottom: 32px;
          .user {
            width: 50%;
            display: flex;
            justify-content: center;
            .icon {
              border-radius: 50%;
              width: 90px;
              height: 90px;
              }
            }
          }
        .info {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .name {
            font-size: 24px;
            font-weight: bold;
          }
          .review {
            position: relative;
            font-size: 24px;
            width: 48%;
            .star-rating-front {
              position: absolute;
              top: 0;
              left: 0;
              color: #fc0;
              overflow: hidden;
            }
            .star-rating-back {
              color: #ccc;
            }
            .link {
              text-decoration: none;
              color: black;
              .count {
                font-size: 16px;
              }
            }
          }
        }
      }
      .basic-info {
        padding: 0 96px;
        .content-block {
          width: 100%;
          .top {
            text-align: center;
            margin-bottom: 16px;
            font-size: 24px;
            font-weight: bold;
          }
          .bottom {
            margin-bottom: 32px;
          }
        }
      }
    }
  }
  .button-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    .button {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

// レスポンシブ(PC)
@include lg {
  .container {
    .post-show {
      .post-detail {
        .user {
          .info {
            .review {
              width: 73%;
              .link {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

// レスポンシブ(タブレット)
@include md {
  .container {
    .post-show {
      .post-top {
        margin: 40px 30px 24px;
        .title {
          font-size: 28px;
        }
      }
      .tags-field {
        font-size: 14px;
        margin: 40px 0 0;
      }
      .post-detail {
        margin: 40px 0;
        .user {
          .bottom {
            padding: 0;
          }
          .info {
            .review {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

// レスポンシブ(スマホ)
@include sm {
  .container {
    .post-show {
      .post-top {
        margin: 40px 35px 24px;
        .title {
          font-size: 26px;
        }
      }
      .post-detail {
        .user {
          .bottom {
            .user {
              .icon {
                width: 50px;
                height: 50px;
              }
            }
          }
          .info {
            .name {
              font-size: 20px;
            }
            .review {
              width: 37%;
              font-size: 16px;
              .link {
                .count {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .basic-info {
          padding: 0 16px;
        }
      }
    }
    .button-block {
      .button {
        justify-content: space-between;
      }
    }
  }
}

// レスポンシブ(スマホ)
@include xs {
  .container {
    .post-show {
      .post-top {
        margin: 40px 40px 24px;
        .title {
          font-size: 20px;
        }
      }
      .top-image {
        .active-photo {
          width: 100%;
        }
      }
      .tags-field {
        font-size: 12px;
        margin-top: 24px;
        .tags {
          padding: 0;
        }
      }
      .post-detail {
        padding: 24px 0;
        margin-top: 24px;
        .user {
          .info {
            .title {
              font-size: 20px;
            }
            .name {
              font-size: 18px;
            }
            .review {
              width: 75px;
              font-size: 15px;
              .link {
                .count {
                  font-size: 8px;
                }
              }
            }
          }
        }
        .basic-info {
          .content-block {
            .top {
              font-size: 20px;
              .table td {
                font-size: 14px;
              }
            }
            .bottom {
              font-size: 16px;
            }
          }
        }
      }
    }
    .button-block {
      .button {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
}