// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "function";
@import "variable";

.container {
  .post-show {
    .favorite {
      .post-favorite {
        .fas {
          @include favorite
        }
        .far {
          @include favorite
        }
      }
    }
    .post-top {
      margin: 40px 60px 24px;
      .title {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        @include xs {
          font-size: 20px;
        }
      }
    }
    .top-image {
      display: flex;
      justify-content: center;
      .active-photo {
        @include xs {
          width: 100%;
        }
      }
    }
    .tags-field {
      margin: 40px 120px 0;
      display: flex;
      @include md {
        margin: 40px 0 0;
      }
      @include xs {
        margin-top: 24px;
      }
      .tags {
        margin-right: 8px;
        padding: 4px;
        background-color: #f5f5f5;
        border-radius: 3px;
        @include xs {
          padding: 0;
        }
        .tag {
          text-decoration: none;
          color: #ffc107;
        }
      }
    }
    .post-detail {
      margin: 40px 120px;
      padding: 32px;
      border: solid 1px gray;
      box-shadow: 0 0 3px gray;
      border-radius: 5px;
      // レスポンシブデザイン
      @include md {
        margin: 40px 0;
      }
      @include xs {
        padding: 24px 0;
        margin-top: 24px;
      }
      .user {
        width: 100%;
        margin: auto;
        .top {
          text-align: center;
          margin-bottom: 16px;
          .title {
            font-size: 24px;
            font-weight: bold;
            @include xs {
              font-size: 20px;
            }
          }
        }
        .bottom {
          width: 100%;
          display: flex;
          padding: 0 144px;
          margin-bottom: 32px;
          @include md {
            padding: 0;
          }
          .user {
            width: 50%;
            display: flex;
            justify-content: center;
            .icon {
              border-radius: 50%;
              width: 90px;
              height: 90px;
              @include sm {
                width: 50px;
                height: 50px;
              }
              }
            }
          }
        .info {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .name {
            font-size: 24px;
            font-weight: bold;
            @include sm {
              font-size: 20px;
            }
            @include xs {
              font-size: 18px;
            }
          }
          .review {
            position: relative;
            font-size: 24px;
            width: 48%;
            @include lg {
              width: 73%;
            }
            @include md {
              width: 40%;
            }
            @include sm {
              width: 37%;
              font-size: 16px;
            }
            @include xs {
              width: 75px;
              font-size: 15px;
            }
            .star-rating-front {
              position: absolute;
              top: 0;
              left: 0;
              color: #fc0;
              overflow: hidden;
            }
            .star-rating-back {
              color: #ccc;
            }
            .link {
              text-decoration: none;
              color: black;
              .count {
                font-size: 16px;
                @include lg {
                  font-size: 14px;
                }
                @include sm {
                  font-size: 12px;
                }
                @include xs {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
      .basic-info {
        padding: 0 96px;
        @include sm {
          padding: 0 16px;
        }
        .content-block {
          width: 100%;
          .top {
            text-align: center;
            margin-bottom: 16px;
            font-size: 24px;
            font-weight: bold;
            @include xs {
              font-size: 20px;
            }
            .table td {
              @include xs {
                font-size: 14px;
              }
            }
          }
          .bottom {
            margin-bottom: 32px;
            @include xs {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .button-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    .button {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      @include sm {
        justify-content: space-between;
      }
      @include xs {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
}
