// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "function";
@import "variable";

.container {
  .review-content {
    margin: 54px auto 0;
    width: 90%;
    @include md {
      width: 100%;
    }
    .review-header {
      display: flex;
      justify-content: space-between;
      .title {
        font-weight: bold;
        font-size: 20px;
        @include xs {
          font-size: 16px;
        }
      }
      .review-btn {
        .btn {
          @include xs {
            font-size: x-small;
          }
        }
      }
    }
    .reviews {
      margin-top: 32px;
      width: 100%;
      .review {
        border-bottom: solid 2px #aaaaaa;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        width: 100%;
        @include xs {
          padding: 20px 0;
        }
        .review-image {
          display: flex;
          align-items: center;
          width: 10%;
          .user-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            @include md {
              width: 50px;
              height: 50px;
            }
            @include xs {
              width: 40px;
              height: 40px;
            }
          }
        }
        .review-name {
          display: flex;
          align-items: center;
          width: 20%;
          @include md {
            margin-left: 16px;
          }
          @include xs {
            margin-left: 20px;
          }
          .reviewer {
            font-weight: bold;
            font-size: 16px;
            @include xs {
              font-size: 14px;
            }
          }
        }
      }
      .review-detail {
        width: 70%;
        .review-display {
          display: flex;
          justify-content: space-between;
          .score {
            width: 19%;
            position: relative;
            font-size: 24px;
            @include lg {
              width: 22%;
            }
            @include md {
              font-size: 20px;
              width: 23%;
            }
            @include sm {
              width: 33%;
            }
            @include xs {
              font-size: 14px;
              width: 73px;
            }
            .star-rating-front {
              position: absolute;
              top: 0;
              left: 0;
              color: #fc0;
              overflow: hidden;
            }
            .star-rating-back {
              color: #ccc;
            }
          }
          .created {
            color: #c0c0c0;
            font-size: 12px;
            @include xs {
              font-size: 10px;
            }
          }
        }
        .review-text {
          .content {
            word-break: break-all;
            @include xs {
              font-size: 12px;
            }
          }
        }
      }
      .empty {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
          font-size: 24px;
          color: #a9a9a9;
        }
      }
    }
  }
  .review-form-wrapper {
    margin: 100px auto 0;
    width: 700px;
    @include sm {
      width: 90%;
    }
    .review-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-rating {
        display: flex;
        margin-bottom: 32px;
        .ratings {
          color: #fc0;
          font-size: 28px;
          margin-right: 24px;
          cursor: pointer;
          letter-spacing: -1px;
          @include xs {
            font-size: 20px;
          }
        }
        .rating-value-display {
          font-size: 16px;
          margin: auto;
          letter-spacing: 5px;
          @include xs {
            font-size: 14px;
          }
        }
      }
      .form-content {
        margin-bottom: 40px;
        @include xs {
          margin: 0 auto 40px;
          width: 100%;
        }
        &__field {
          width: 450px;
          padding-top: 8px;
          padding-left: 8px;
          @include xs {
            width: 100%;
          }
        }
      }
    }
  }
}