// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 関数の読み込み
@import "function";
@import "variable";

// ログイン画面
.wrapper {
  @include whole;
  .container-fluid {
    text-align: center;
    padding-top: 144px;
    .form-title {
      h3 {
        color: #ffc107;
      }
    }
    .collapse {
      .nav-item {
        margin-left: 24px;
        @include sm {
          margin-left: 20px;
        }
        @include xs {
          margin-left: 12px;
        }
        i {
          color: #333333;
          font-size: 30px;
          @include sm {
            font-size: 24px;
          }
          @include xs {
            font-size: 20px;
          }
          @include xs {
            font-size: 18px;
          }
        }
        .fa-stack {
          .fa-circle {
            position: absolute;
            font-size: 10px;
            color: #ff4500;
            right: 100px;
            left: 10px;
            top: 14px;
          }
        }
        .user-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          cursor: pointer;
          @include sm {
            width: 30px;
            height: 30px;
          }
          @include xs {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .menu {
      position: absolute;
      top: 70px;
      right: 76px;
      border: solid 1px #d3d3d3;
      text-align: left;
      list-style: none;
      background-color: #ffffff;
      box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
      padding: 0 8px 8px;
      margin: 0;
      @include sm {
        padding: 0 4px 1px;
      }
      @include md {
        right: 50px;
      }
      @include sm {
        top: 58px;
        right: 30px;
      }
      @include xs {
        top: 48px;
        right: 12px;
      }
      &__content {
        padding-top: 8px;
        @include sm {
          padding-top: 2px;
        }
        @include xs {
          padding-top: 0;
        }
        i {
          margin-right: 12px;
          @include xs {
            margin-right: 8px;
          }
        }
        .fa-user-edit {
          margin-right: 8px;
        }
        .pull-down-list {
          @include sm {
            font-size: 14px;
          }
          @include xs {
            font-size: 12px;
          }
        }
      }
    }
    .form {
      width: 400px;
      margin: 40px auto;
      @include xs {
        width: 80%;
      }
      .login {
        margin-top: 40px;
        .btn {
          @include xs {
            font-size: x-small;
          }
        }
      }
      .guest-login {
        margin-top: 24px;
        .btn {
          @include xs {
            font-size: x-small;
          }
        }
      }
      .forgot-password {
        margin-top: 40px;
        text-align: left;
        a {
          text-decoration: none;
          color: #1e90ff;
          font-size: 14px;
        }
      }
      .form-content {
        text-align: left;
        label {
          @include xs {
            font-size: 14px;
          }
        }
        .required {
          background-color: red;
          border-radius: 3px;
          color: #ffffff;
          padding: 1px;
          @include xs {
            font-size: 12px;
          }
        }
        .optional {
          background-color: #a9a9a9;
          border-radius: 3px;
          color: #ffffff;
          padding: 1px;
          @include xs {
            font-size: 12px;
          }
        }
        &__field {
          height: 40px;
          width: 400px;
          margin-bottom: 24px;
          padding-left: 5px;
          border-radius: 1px;
          border: solid 1px #a4a8a4;
          @include xs {
            width: 100%;
          }
        }
        &__image {
          @include xs {
            width: 100%;
          }
        }
      }
    }
  }
}


// サインイン画面
.wrapper {
  @include whole;
  .form {
    .signup {
      margin-top: 40px;
    }
    .form-content {
      &__profile {
        width: 400px;
        margin-bottom: 24px;
        border-radius: 1px;
        border: solid 1px #a4a8a4;
        padding-left: 5px;
        padding-top: 5px;
        @include xs {
          width: 100%;
        }
      }
      &__image {
        margin-bottom: 24px;
      }
    }
  }
}

// パスワード変更画面
.container-fluid {
  .forgot-password-wrapper {
    .title {
      h3 {
        color: #ffc107;
      }
    }
  }
  .forgot-password-form {
    width: 350px;
    margin: 40px auto;
    .form-content {
      text-align: left;
      &__field {
        height: 40px;
        width: 350px;
        margin-bottom: 24px;
        padding-left: 5px;
        border-radius: 1px;
        border: solid 1px #a4a8a4;
      }
    }
    .actions {
      margin-top: 40px;
    }
  }
}

// レスポンシブWebデザイン
.wrapper {
  .container-fluid {
    @include md {
      display: flex;
      flex-wrap: nowrap !important;
    }
    .collapse {
      @include md {
        display: flex;
        .navbar-nav {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.wrapper {
  .content {
    @include md {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
}