// 関数の読み込み
@import "function";
@import "variable";

.container {
  .user-inner {
    margin: 60px 150px 48px;
    .user-info {
      height: 100%;
      .upper {
        display: flex;
        .left {
          margin-right: 32px;
          .user-image {
            width: 110px;
            height: 110px;
            border-radius: 50%;
          }
        }
        .right {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .user-content {
            .name {
              font-weight: bold;
              font-size: 24px;
            }
            .review {
              margin-bottom: 8px;
              position: relative;
              font-size: 24px;
              width: 66%;
              .star-rating-front {
                position: absolute;
                top: 0;
                left: 0;
                color: #fc0;
                overflow: hidden;
              }
              .star-rating-back {
                color: #ccc;
                margin-right: 8px;
              }
              .link {
                text-decoration: none;
                color: black;
                display: flex;
                .count {
                  font-size: 16px;
                  margin: auto;
                }
              }
            }
            .follow {
              display: flex;
              .followings {
                display: flex;
                text-decoration: none;
                color: black;
                margin-right: 16px;
                .count {
                  font-weight: bold;
                  margin-right: 4px;
                }
              }
              .followers {
                display: flex;
                text-decoration: none;
                color: black;
                .count {
                  font-weight: bold;
                  margin-right: 4px;
                }
              }
            }
          }
          .button {
            .buttons {
              height: 100%;
              display: flex;
              justify-content: space-around;
              flex-direction: column;
              .follow-button {
                width: 100%;
              }
            }
          }
        }
      }
      .bottom {
        margin-top: 24px;
        margin-right: 200px;
        word-break: break-all;
        .profile {
          color: #696969;
        }
      }
    }
  }
  .post-inner {
    margin-bottom: 48px;
    .user-post {
      margin: 0 100px;
      .user-page-tags {
        display: flex;
        margin-bottom: 16px;
        .user-last-post {
          margin-right: 24px;
          font-size: 18px;
          font-weight: bold;
          color: #a9a9a9;
          cursor: pointer;
          border-bottom: solid 2px #a9a9a9;
          padding-bottom: 4px;
        }
        .user-favorite-post {
          font-size: 18px;
          font-weight: bold;
          color: #a9a9a9;
          cursor: pointer;
          border-bottom: solid 2px #a9a9a9;
          padding-bottom: 4px;
        }
        .active {
          color: #ffa500;
          border-bottom: solid 2px #ffa500;
          padding-bottom: 4px;
        }
      }
    }
    .giving-post {
      @include user-post-list
    }
    .giving-post2 {
      @include user-post-list
    }
    .show {
      display: block;
    }
  }
}